body {
    font-family: monospace;
    font-size: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    color: black;
}

.pad {
    padding: 10px;
}

.container {
    max-width: 1400px;
    margin: auto;
}

button {
    background: black;
    text-transform: uppercase;
    color: white;
    padding: 20px 20px;
    margin-top: 30px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50px;
    min-width: 50px;
}

.layout {
    display: flex;
    justify-content: flex-end;
}

.layout ul li {
    margin-left: 10px;
}

.layout.layout-left {
    justify-content: flex-start;
}

.layout.layout-left li {
    margin-right: 10px;
}

.layout.horizontal {
    flex-direction: row;
}

.layout.horizontal .img {
    flex-grow: 1;
    margin-top: 10px;
}

.layout.horizontal .img:first-child {
    margin-left: 0;
}

.width {
    width: 50%;
}

.navbar {
    border-bottom: 1px #BDBDBD solid;
}

.gallery .img {
    height: 120px;
}

.main-img {
    height: 300px !important;
}

.logo { 
    flex-grow: 1;
}

.menu {
    flex-grow: 2;
}

.container-two {
    text-transform: uppercase;
}

.pricetag {
    font-size: 20px;
}

.description {
    border-top: 1px solid #BDBDBD;
    margin-top: 10px;
}